# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

_src/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*
.env*.local

# typescript
*.tsbuildinfo

# Android/IntelliJ
build/
.idea/
.gradle/
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# iOS
ios/Pods/
ios/build/
ios/Podfile.lock
*.xcworkspace
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata

# Testing
coverage/
__tests__/

# Temporary files
*.swp
*.swo
*.tmp
*.temp

# Logs
logs/
*.log

# Editor directories and files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Local API data
_api/db.json

# Configuration 
constants/config.ts
